<a href='#' class='arrow arrow-left slideshow-slider-control-prev'></a>
<a href='#' class='arrow arrow-right slideshow-slider-control-next'></a>

<ul>
	<% _.each(attr.slides, function(slide, i){ %>
		<li>
			<a href='#' class='slider-thumb' data-slidenum="<%= i %>">
				<div class='slideshow-thumbnail' style="background:url(<%= slide.attr.uri %>); background-repeat:no-repeat;background-size:100%;background-position:center"></div>
			</a>
			<div class='thumb-title'>
				<% if(slide.attr.media_creator_username.replace(/\s+/g, '') != ''){ %><%= slide.attr.media_creator_username %><% }else{ %>unknown<% } %>
				<a href="<%= slide.attr.attribution_uri %>" target='blank'><i class='slideshow-icon-<%= slide.attr.archive.toLowerCase() %> ssarchive'></i></a>
			</div>
		</li>
	<% });%>
</ul>